@page
@model EstanciaCaballos.App.Frontend.Pages.listasModel
@{
}
<h1>Pagina creada por grupo 42</h1>
<table>
    @foreach (var item in Model.miLista)
    {
    <tr>
        <td>
            @item
        </td>
    </tr>
    }
</table>